extends layout.pug

block content
    h4 About Friend Knower
    
    p A very simple app to test which of your friends know you, and which only tend to try. Friendship can never be tested, in fact, it shouldn't ever. But to rejoice your friendship, time to time you need to have some unusual activities with your friends. This friend knower app intends to do the same. Using this app, you can know how much your friends know you who may claim to know you best. It will be a curious activity when you will send a questionnaire to your friend having the secret questions along with the hidden answer of those question and your friend will guess those questions on the basis of your understanding with him or her.

    p This Friend Knower app is easy to use and simple to share, you can have a good experience and well-spent time with your friends using this app. Friend Knower is simple to navigate and easy to share with friends. No matter either you are friends for years or got to know each other since the day you are reading this, Friend knower app has been designed to unite some more happy moments to your friendship. 

    p Moreover, as far as performance concern it has a user-friendly and clean interface. It is fast and robust since It has been designed using advanced and lightweight technologies at its backend.

    p We recommend that you also read and understand the 
        a(href="/policy") terms & conditions or the privacy policy 
        span.
            of this app before using it. We will not be held responsible for the data you enter, or how someone reads your information. 