extends layout.pug

block content
    h4 Not found
    p The page you are looking for does not exist. Consider going back and visiting the page from the links provided.

    p Go back to 
        a(href="/") home page
        span.
            .