extends layout.pug

block content
    h3 Privacy Policy and Usage Terms
    
    p These are the terms and conditions for the usage of app, and the coverage of the privacy policy. 

    h4 Terms and Conditions

    p We provide easy and secure access to our app but we will not be responsible for any time of information that will be shared using our questionnaire form, over the internet. 

    p This Privacy Policy covers your use of the application. This application does not collect, store, or share any personal information, or anything related to your device, for any malicious or spying purposes.  These information chunks are used only to make the service better. In any case, that information is not enough to identify you as an individual for any purposes, such as advertisement etc.

    p If you create a form and later decide to have it removed, send us the ID for that form and we will remove it manually &mdash; we do not hold a management system to do so, yet.

    p By using the application, you certify that you are at least 13 years of age and are allowed to use online services for sharing information as per the applicable law. We do not allow children under age of 13 to use the application, because this application is public and the information stored is public and accessible. 

    p You also agree that we will not be held responsible for misuse, disclosure or copying of the information you share in the forms here. The service is for entertainment purposes only. You may use it for any purposes, personal, or others, without any notice. But, we will not be responsible for any damages caused to you and you shall not hold us responsible or ask for compensation for any damanges or loss caused to you on or off the application.

    p If you find child under age of 13 using the application, or information shared on the website, please contact us immediately, we will remove it. We do not have account management system, thus we do not control who uses the service, if you are minor in your region, please stop using the service. 

    h4 Privacy
    p We take your privacy seriously. This privacy policy describes what personal information we collect and how we use it. See this privacy policy primer to learn more about privacy policies in general.

    p The data which will be sent or received using our questionnaire will be secure, and we highly regard all of your concerns about the confidentiality of data, that we will not share, sell or trade it with anyone but still, we will not be subjective or accountable for any type of data disclosing via cookies or other like terms. The forms you generate are publicly accessible, thus it is your responsibility to NEVER SHARE ANY PERSONAL INFORMATION, such as (but not limited to) passwords, security information, credit card numbers or other information that can identify you individually.

    p We do not track or store your individual and direct geolocation information. Your browser and other service providers such as ISPs might be tracking these informations, we do not take guarantee for them.

    h4 Cookies
    p Where necessary, we use cookies to store information about a visitor's preferences and history in order to better serve the visitor and/or present the visitor with customized content. We do not store information on the browser, but if needed by our web servers, we might store some small amount of data on your machine. By the use of this website you grant us permissions to do so. If you do not agree, please do not visit the website. 

    p Advertising partners and other third parties may also use cookies, scripts and/or web beacons to track visitors to our site in order to display advertisements and other useful information. Such tracking is done directly by the third parties through their own servers and is subject to their own privacy policies.

    h4 Special Note About Google Advertising

    p Any advertisements served by Google, Inc. and affiliated companies may be controlled using cookies. These cookies allow Google to display ads based on your visits to this site and other sites that use Google advertising services. Learn how to opt out of Google's cookie usage. As mentioned above, any tracking done by Google through cookies and other mechanisms is subject to Google's own privacy policies.
