body{
    
}

/*#questions input {
    display: block;
    margin-top: 0.67rem;
    padding: 0.67rem;
    background-color: #ffe;
    width:500px;
}

#headerText{
    font-size: 40px;
    font-family:'Yu Gothic UI';
    font-weight:300;

}
#options input {
    display:inline;
    background-color: #ffe;
}
#options input[type="radio"] {
        display: inline;
        background-color: #ffe;
        margin-right:-200px;
    }
#Submitbutton button{
    padding:10px;
    background-color:black;
    margin-left:310px;
    margin-top:20px;
    color:white;
    font-size:15px;
}*/

.footer {
    margin: 10px 0 0 0;
    padding: 25px 10px; 
    background-color: #cecece;
    color: #000;
}

.expandinginput {
    width: 100%;
}

label.checkbox {
    width: 100%;
}

label.radio-inline {
    width: 100%;
}